
element.style {
}
.r-184en5c {
    z-index: 1;
}
.r-12vffkv > * {
    pointer-events: auto;
}
.r-u8s1d {
    position: absolute;
}
.r-ipm5af {
    top: 0px;
}
.r-zchlnj {
    right: 0px;
}
.r-1d2f490 {
    left: 0px;
}
.r-12vffkv>* {
    pointer-events: auto;
}
div {
    display: block;
}
