// .r-18u37iz {
//     -webkit-box-direction: normal;
//     -webkit-box-orient: horizontal;
//     flex-direction: row;
// }

// .r-417010 {
//     z-index: 0;
// }
// .r-13qz1uu {
//     width: 100%;
// }
// .r-12vffkv > * {
//     pointer-events: auto;
// }
// .r-12vffkv>* {
//     pointer-events: auto;
// }

.r-1oszu61 {
    -webkit-box-align: stretch;
    align-items: stretch;
}

.r-1wbh5a2 {
    flex-shrink: 1;
}
.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.r-13qz1uu {
    width: 100%;
}
.r-150rngu {
}

.r-1oszu61 {
    -webkit-box-align: stretch;
    align-items: stretch;
}
.r-1wbh5a2 {
    flex-shrink: 1;
}
.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.r-13qz1uu {
    width: 100%;
}

.r-aqfbo4 {
    backface-visibility: hidden;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.r-61z16t {
    margin-right: 0px;
}

.r-11wrixw {
    margin-left: 0px;
}
.r-184en5c {
    z-index: 1;
}
.r-13l2t4g {
    border-right-width: 1px;
}
.r-1ljd8xs {
    border-left-width: 1px;
}
.r-13qz1uu {
    width: 100%;
}
.r-14lw9ot {
    background-color: rgba(255,255,255,1.00);
}
.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}
.r-jxzhtn {
    border-color: rgb(239, 243, 244);
}
.r-1phboty {
    border-style: solid;
}
.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}